<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite" parallel="methods" thread-count="2">
    <test verbose="2" preserve-order="true" name="dcktests">
        <classes>
            <!-- <class name="Base.RestAssuredDemo"/> -->
            <class name="Tests.OHRM"/>
        </classes>
    </test>
</suite>
